<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>Foodfy</title>
</head>

<body>
    <header class="header-admin">
        <a href="/admin/recipes"><img class="logo-admin" src="/assets/logo_white.png" alt="Logo Foodfy" /></a>
    </header>

    {% block content %}
    
    {% endblock %}

    <footer class="small">
        <p>Todos os direitos reservados. Receitas Foodfy.</p>
    </footer>
    
</body>

</html>