{% extends 'layout.njk' %}

{% block content %}

    <main>   
        <div class="middle-container">
            <h2 class="top-title-about">Sobre o Foodfy</h2>
            <p class="paragraph">
                Nosso apetite é mais forte que nós. Foi ele que espalhou humanidade pelo mundo e que possibilitou a civilização, a cultura e a industrialização – mas ele também nos transformou em uma comunidade de gordos. Conheça essa história e entenda como a indústria se aproveitou da nossa fraqueza
            </p>
            <p class="paragraph">
                A porta do forno se abre e o aroma de pão francês invade as narinas. A visão daquela montanha de pães na cesta desperta fantasias. Manteiga fresca derretendo entre os picos e vales do delicado miolo. Um monte branco de requeijão erguido sobre um pedaço da casca dourada e crocante. Que atire o primeiro tomate quem nunca foi seduzido pelo pão quentinho numa manhã de padaria. Poucos alimentos são tão simples, tão corriqueiros e, ao mesmo tempo, tão apetitosos. Como é que essa mistura banal de farinha, sal, óleo e fermento pode exercer tamanho poder sobre nossos sentidos?
            </p>
            <h4 class="middle-title">Como tudo começou...</h4>
            <p class="paragraph">
                O apetite é, antes de tudo, um instinto. Precisamos comer para sobreviver, assim como precisamos respirar, beber e dormir. É um instinto tão poderoso que pessoas esfomeadas não conseguem pensar em outra coisa senão em comida. Mas os seres humanos, ao longo de sua evolução, transformaram o ato de comer em algo muito mais significativo que a mera satisfação de uma necessidade. Comer é prazer. É uma das mais ricas experiências sensoriais que podemos ter. Comer é, também, um ato emocional. Traz conforto, tranqüilidade e, às vezes, culpa. Influencia nosso humor e disposição. Para alguns, chega a ser uma experiência espiritual.
            </p>
            <h4 class="middle-title">Nossas receitas</h4>
            <p class="paragraph">
                O apetite é, antes de tudo, um instinto. Precisamos comer para sobreviver, assim como precisamos respirar, beber e dormir. É um instinto tão poderoso que pessoas esfomeadas não conseguem pensar em outra coisa senão em comida. Mas os seres humanos, ao longo de sua evolução, transformaram o ato de comer em algo muito mais significativo que a mera satisfação de uma necessidade. Comer é prazer. É uma das mais ricas experiências sensoriais que podemos ter. Comer é, também, um ato emocional. Traz conforto, tranqüilidade e, às vezes, culpa. Influencia nosso humor e disposição. Para alguns, chega a ser uma experiência espiritual.
            </p>
            <p class="paragraph">
                Nosso apetite é mais forte que nós. Foi ele que espalhou humanidade pelo mundo e que possibilitou a civilização, a cultura e a industrialização – mas ele também nos transformou em uma comunidade de gordos. Conheça essa história e entenda como a indústria se aproveitou da nossa fraqueza
            </p>
            <p class="paragraph">
                A porta do forno se abre e o aroma de pão francês invade as narinas. A visão daquela montanha de pães na cesta desperta fantasias. Manteiga fresca derretendo entre os picos e vales do delicado miolo. Um monte branco de requeijão erguido sobre um pedaço da casca dourada e crocante. Que atire o primeiro tomate quem nunca foi seduzido pelo pão quentinho numa manhã de padaria. Poucos alimentos são tão simples, tão corriqueiros e, ao mesmo tempo, tão apetitosos. Como é que essa mistura banal de farinha, sal, óleo e fermento pode exercer tamanho poder sobre nossos sentidos?
            </p>
        </div>
    </main>

{% endblock %}