{% extends 'layout.njk' %}

{% block content %}
    <main>
            <div class="card-box">
                
                {% for recipe in recipes %}   
            
                    <div class="card" id="{{ recipe.id }}">
                        
                        <img src="{{ recipe.image }}" class="card-img-top" alt="{{recipe.title}}">
                        
                        <div class="card-body">
                            <p class="recipe-title">{{ recipe.title }}</p>
                            <p class="recipe-author">por {{ recipe.author }}</p>
                        </div>

                    </div>

                {% endfor %}

                
              
            </div>
        
    </main>
       <script src="/script.js"></script> 
       
    {% endblock %}


    
    
