{% extends 'layout.njk' %}

{% block content %}
    <main>
        <div class="image-area">
            <div class="layout-img">
                <img src="{{ recipe.image }}" alt=""/>
            </div>

            <div class="card-body">
                <p class="top-title h5">
                    {{ recipe.title }}
                </p>
                <p class="top-author">
                    por
                    {{ recipe.author }}
                </p>

            </div>

            <div class="details">
                <div class="hideShow">
                    <p class="middle-title-recipe">Ingredientes</p>
                    <a class="toggle">Esconder</a>
                </div>

                <div class="content">
                    <ul>

                        {% for ingredient in recipe.ingredients %}

                            <li class="list-content">{{ ingredient }}</li>

                        {% endfor %}

                    </ul>

                </div>

                <div class="details">
                    <div class="hideShow">
                        <p class="middle-title-recipe">Modo de preparo</p>
                        <a class="toggle">Esconder</a>
                    </div>

                    <div class="content">
                        <ul>

                            {% for preparation in recipe.preparation %}

                                <li class="list-content">{{ preparation }}</li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="details">

                    <div class="hideShow">
                        <p class="middle-title-recipe">Informações adicionais</p>
                        <a class="toggle">Esconder</a>
                    </div>

                    <div class="content">
                        <p class="list-content information">
                            {{ recipe.information }}
                        </p>
                    </div>
                </div>

            </div>

        </main>

        <script src="/script.js"></script>
    {% endblock %}