{% extends '../layout.njk' %}

{% block content %}

 
    <main>
        
        <form action="/admin/recipes" class="form" method="POST">    
            
            <div class="form-box">
            
                <div class="form-details">
                    
                    <div class="top-form">
                        
                        <div>
                        <h1 class="top-title-create">
                            Criando receita
                        </h1>
                        </div>

                        <div class="grid-button">
                            <button type="Submit">Salvar Receita</button>
                            {# <a href="/" id="cancelar" class="button">Cancelar</a> #}
                        </div>
                    </div>

                    {% include './fields.njk' %}

                </div>

            </div>
        

        </form>
    </main>

    <script src="/script.js"></script> 
{% endblock %}
    